@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240deg 5.79% 76.27%;
    --foreground: 240deg 4.76% 8.24%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 82.77deg 97.16% 72.35%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 225deg 6.67% 11.76%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --redis-gray: 183, 171, 152;
  }

  .dark {
    --background: 240, 10%, 5%;
    --foreground: 240deg 5.79% 76.27%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 190.29deg 51.22% 59.8%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 225deg 6.67% 11.76%;
    --secondary-foreground: 0 0% 98%;

    --border: 37, 18%, 66%, 0.5;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --opacity-color: 203, 203, 219;
  }
}

html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-secondary w-0.5 rounded-full;
  }

  *::-webkit-scrollbar {
    @apply w-0;
  }
}

.blob {
  background: conic-gradient(from 2.35rad, #c76000, rgba(7, 29, 228, 0.5));
}

.text-reveal {
  display: inline;
  background: linear-gradient(
    to right,
    rgba(var(--opacity-color), 1) 0%,
    rgba(var(--opacity-color), 1) 50%,
    rgba(var(--opacity-color), 0.2) 50%,
    rgba(var(--opacity-color), 0.2) 100%
  );
  background-clip: text;
  background-size: 200% 100%;
  background-position: right bottom;
  color: transparent;
  background-repeat: no-repeat;
}
